.preview-image {
max-width: 100px;
max-height: 100px;}
.rental
{
     background-color: rgb(65, 65, 116);
     border-radius:5px;
     -webkit-border-radius:5px;
     -moz-border-radius:5px;
     -ms-border-radius:5px;
     -o-border-radius:5px;
     color: azure;
     
}
        body {
            background-color: #bbc3ca !important;
            min-height: 100vh;
            display: flex;
            align-items: center;
        }